

/* CSS */
*{
  background-color: #4f0904;
}

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.AppInfo {
  text-align: center;
}

img {
  border-style: solid;
}

h1 {
  color: white;
  background-color: rgb(34, 16, 16);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  text-decoration: underline;
}

h3 {
  color: grey;
}

p {
  color: white;
  border-style: solid;
  margin-left: 30%;
  margin-right: 30%;
  padding: 3%;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}